# Save out dataset for Evaluation: Dataset Eval 1

- this saves out a smaller dataset to compare different recommendation algorithms on
- it removes rows with viewed items that do not have features
- it removes items viewed less 20 minutes before buying
- it then removes users with <5 viewed items before buying.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# get data
user_profile = pd.read_csv('../data_user_view_buy/user_profile.csv',sep='\t',header=None)
user_profile.columns = ['user_id','buy_spu','buy_sn','buy_ct3','view_spu','view_sn','view_ct3','time_interval','view_cnt','view_seconds']

In [3]:
user_profile.head()

,user_id,buy_spu,buy_sn,buy_ct3,view_spu,view_sn,view_ct3,time_interval,view_cnt,view_seconds
0,3125745546,3454147345092617,10020201,334,100281596405534762,10029251,334,311066,3,50
1,3125745546,3454147345092617,10020201,334,104785174046949392,10014206,334,499624,1,7
2,3125745546,3454147345092617,10020201,334,10491053651988480,10010280,334,409509,2,9
3,3125745546,3454147345092617,10020201,334,20342683550576642,10015063,334,313623,1,2
4,3125745546,3454147345092617,10020201,334,224975005672079387,10020201,334,451607,4,12

In [4]:
spu_fea = pd.read_pickle("../data_nn_features/spu_fea.pkl") #takes forever to load

In [5]:
spu_fea.head()

               spu_id                                           features
1  100000087145246721  [0.009, 0.839, 0.439, 1.673, 0.226, 0.055, 0.1...
2  100000090992795708  [0.0, 1.878, 0.353, 1.505, 0.047, 0.003, 0.0, ...
4  100281553839460375  [0.661, 1.84, 0.028, 1.128, 0.172, 1.097, 1.45...
8  100844539282133007  [0.444, 0.428, 0.0, 0.342, 0.314, 0.015, 0.529...
9  101688901872443404  [0.058, 2.361, 0.0, 1.037, 0.013, 1.009, 1.543...

In [6]:
spu_fea = spu_fea.reset_index()

In [7]:
# # create feature matrix out of loaded up features. 
## NOT DONE

# for i,row in spu_fea.iterrows():
#     features = np.array(spu_fea.loc[spu_fea.spu_id==row['spu_id'],'features'].as_matrix()[0])
#     #features = [np.float(f) for f in features]
#     lab = row['spu_id']
#     if i==0:
#         X = features
#         labs = lab
#     else:
#         X = np.vstack((X,features))
#         labs = np.append(labs,lab)
        
# xcolumns = ['x'+str(i) for i in np.arange(X.shape[1])]
# X_df = pd.DataFrame(np.hstack((labs[:,np.newaxis],X)),columns=['spu_id']+xcolumns)

## Merge user data with feature data

In [8]:
spu_fea['view_spu']=spu_fea['spu_id']

In [9]:
spu_fea['view_spu']=spu_fea['spu_id']
user_profile_w_features = user_profile.merge(spu_fea,on='view_spu',how='left')
print('before merge nrow: {0}').format(len(user_profile))
print('after merge nrows:{0}').format(len(user_profile_w_features))

before merge nrow: 6538474
after merge nrows:6538474

In [10]:
user_profile_w_features.head(20)

,user_id,buy_spu,buy_sn,buy_ct3,view_spu,view_sn,view_ct3,time_interval,view_cnt,view_seconds,index,spu_id,features
0,3125745546,3454147345092617,10020201,334,100281596405534762,10029251,334,311066,3,50,74770.0,1.002816e+17,"[0.0, 0.442, 0.0, 3.436, 0.061, 0.328, 0.262, ..."
1,3125745546,3454147345092617,10020201,334,104785174046949392,10014206,334,499624,1,7,NaN,NaN,NaN
2,3125745546,3454147345092617,10020201,334,10491053651988480,10010280,334,409509,2,9,NaN,NaN,NaN
3,3125745546,3454147345092617,10020201,334,20342683550576642,10015063,334,313623,1,2,NaN,NaN,NaN
4,3125745546,3454147345092617,10020201,334,224975005672079387,10020201,334,451607,4,12,78708.0,2.249750e+17,"[0.133, 0.082, 0.776, 0.481, 0.077, 0.256, 0.0..."
5,3125745546,3454147345092617,10020201,334,232293356547952640,10015864,334,228407,1,2,39362.0,2.322934e+17,"[0.083, 0.985, 0.501, 0.353, 0.097, 0.0, 0.914..."
6,3125745546,3454147345092617,10020201,334,243833829111693330,10020201,334,499375,1,10,44426.0,2.438338e+17,"[0.074, 0.114, 0.055, 0.153, 0.117, 0.0, 0.424..."
7,3125745546,3454147345092617,10020201,334,245804153948667933,10020201,334,499347,1,2,62393.0,2.458042e+17,"[0.098, 0.685, 0.072, 0.203, 0.009, 0.009, 0.7..."
8,3125745546,3454147345092617,10020201,334,25127771918368778,10014206,334,499525,1,5,1554.0,2.512777e+16,"[0.063, 0.121, 0.028, 0.0, 0.0, 0.054, 0.006, ..."
9,3125745546,3454147345092617,10020201,334,299284399610007558,10024895,334,273848,1,4,70129.0,2.992844e+17,"[0.556, 0.275, 0.349, 0.796, 1.001, 0.334, 0.0..."
10,3125745546,3454147345092617,10020201,334,4017128505085958,10003609,334,21229,1,4,NaN,NaN,NaN
11,3125745546,3454147345092617,10020201,334,445369919971500040,10029139,334,54618,1,4,9577.0,4.453699e+17,"[0.248, 0.657, 0.136, 0.57, 0.164, 0.0, 0.104,..."
12,3125745546,3454147345092617,10020201,334,448466135488008195,10020201,334,282023,1,4,34846.0,4.484661e+17,"[0.102, 0.629, 0.264, 0.145, 0.067, 0.118, 0.1..."
13,3125745546,3454147345092617,10020201,334,464510191750230038,10000646,334,437330,1,10,59116.0,4.645102e+17,"[0.272, 0.945, 0.384, 0.135, 0.289, 0.017, 0.0..."
14,3125745546,3454147345092617,10020201,334,5006108822169149442,10003609,334,21355,2,6,NaN,NaN,NaN
15,3125745546,3454147345092617,10020201,334,5142995081465887,10020201,334,263745,5,37,24881.0,5.142995e+15,"[0.148, 1.524, 0.0, 0.068, 0.072, 0.0, 0.292, ..."
16,3125745546,3454147345092617,10020201,334,79170908361687055,10020201,334,281834,1,4,NaN,NaN,NaN
17,3125745546,3454147345092617,10020201,334,83955982965768208,10020201,334,281817,1,9,NaN,NaN,NaN
18,3125745546,3454147345092617,10020201,334,94370557104062470,10020201,334,71695,27,127,NaN,NaN,NaN
19,3125745546,3454147345092617,10020201,334,97466840982310922,10028697,334,101524,1,3,7393.0,9.746684e+16,"[0.131, 0.41, 0.0, 0.702, 0.052, 0.018, 0.843,..."

In [11]:
# takes too long
# user_profile_w_features.to_csv('../../data_user_view_buy/user_profile_items_with_features.csv') # I think this takes to long to save.

## Eliminate Rows with viewed items that don't have features

- this may break up some trajectories (view1,view2,view3-removed, view4,buy).

In [22]:
len(user_profile_w_features)

6538474

In [23]:
user_profile_w_features_nonnull = user_profile_w_features.loc[~user_profile_w_features.features.isnull(),]
len(user_profile_w_features_nonnull)

4784587

## Eliminate Rows with bought items that don't have features 

- this will eliminate whole trajectories (view1,view2,view3,buy), because each of these rows is labeled with the buy id

In [24]:
spus_with_features =user_profile_w_features_nonnull.spu_id.unique() #
user_profile_w_features_nonnull = user_profile_w_features_nonnull[user_profile_w_features_nonnull['buy_spu'].isin(spus_with_features)]

In [25]:
len(user_profile_w_features_nonnull)

614560

## Eliminate Rows <20 minutes before buy

In [26]:
# remove rows <20 minutes before
user_profile_w_features_nonnull_20  = user_profile_w_features_nonnull.loc[(user_profile_w_features_nonnull.time_interval/60.0)>20.0]
len(user_profile_w_features_nonnull_20)

550834

## Eliminate Users with <5 previously viewed items

In [27]:
view_counts_per_user = user_profile_w_features_nonnull_20[['user_id','view_spu']].groupby(['user_id']).agg(['count'])
view_counts_per_user.head()

        view_spu
           count
user_id
149036        28
814009       102
827915        77
1064602        2
1097992        5

In [28]:
user_profile_w_features_nonnull_20_5 = user_profile_w_features_nonnull_20.join(view_counts_per_user, on='user_id', rsuffix='_r')
columns = user_profile_w_features_nonnull_20_5.columns.values
columns[-1]='view_spu_count'
user_profile_w_features_nonnull_20_5.columns=columns
user_profile_w_features_nonnull_20_5.head()

/Users/chris/anaconda/envs/virtenv/lib/python2.7/site-packages/pandas/core/reshape/merge.py:551: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,user_id,buy_spu,buy_sn,buy_ct3,view_spu,view_sn,view_ct3,time_interval,view_cnt,view_seconds,index,spu_id,features,view_spu_count
89,960980006,2463545257346113536,10015294,334,107318456632717316,10015294,334,17345,1,5,69776.0,1.073185e+17,"[0.31, 0.741, 0.066, 0.868, 0.266, 0.0, 0.086,...",139
90,960980006,2463545257346113536,10015294,334,107318460592529411,10007066,334,193314,1,5,17665.0,1.073185e+17,"[0.0, 2.812, 0.284, 0.462, 0.002, 0.0, 0.417, ...",139
91,960980006,2463545257346113536,10015294,334,1376488951765147648,10015294,334,449577,2,43,51881.0,1.376489e+18,"[0.563, 0.661, 0.162, 0.813, 0.149, 0.899, 0.5...",139
92,960980006,2463545257346113536,10015294,334,1600824511410274307,10015294,334,450245,1,7,53203.0,1.600825e+18,"[0.421, 0.454, 0.0, 0.295, 1.546, 0.36, 0.102,...",139
93,960980006,2463545257346113536,10015294,334,1683296679586492416,10015294,334,16038,1,9,66087.0,1.683297e+18,"[0.144, 1.025, 0.064, 1.208, 0.117, 0.205, 0.3...",139

In [29]:
user_profile_w_features_nonnull_20_5 = user_profile_w_features_nonnull_20_5.loc[user_profile_w_features_nonnull_20_5.view_spu_count>5,]

In [30]:
len(user_profile_w_features_nonnull_20_5)

544913

In [31]:
user_profile_w_features_nonnull_20_5

            user_id              buy_spu    buy_sn  buy_ct3  \
89        960980006  2463545257346113536  10015294      334
90        960980006  2463545257346113536  10015294      334
91        960980006  2463545257346113536  10015294      334
92        960980006  2463545257346113536  10015294      334
93        960980006  2463545257346113536  10015294      334
94        960980006  2463545257346113536  10015294      334
95        960980006  2463545257346113536  10015294      334
97        960980006  2463545257346113536  10015294      334
98        960980006  2463545257346113536  10015294      334
99        960980006  2463545257346113536  10015294      334
101       960980006  2463545257346113536  10015294      334
102       960980006  2463545257346113536  10015294      334
103       960980006  2463545257346113536  10015294      334
104       960980006  2463545257346113536  10015294      334
105       960980006  2463545257346113536  10015294      334
107       960980006  2463545257346113536  10015294      334
108       960980006  2463545257346113536  10015294      334
109       960980006  2463545257346113536  10015294      334
110       960980006  2463545257346113536  10015294      334
113       960980006  2463545257346113536  10015294      334
115       960980006  2463545257346113536  10015294      334
119       960980006  2463545257346113536  10015294      334
120       960980006  2463545257346113536  10015294      334
122       960980006  2463545257346113536  10015294      334
123       960980006  2463545257346113536  10015294      334
124       960980006  2463545257346113536  10015294      334
125       960980006  2463545257346113536  10015294      334
126       960980006  2463545257346113536  10015294      334
128       960980006  2463545257346113536  10015294      334
129       960980006  2463545257346113536  10015294      334
...             ...                  ...       ...      ...
6538326   163404756   320957973203722240  10005367      334
6538327   163404756   320957973203722240  10005367      334
6538328   163404756   320957973203722240  10005367      334
6538329   163404756   320957973203722240  10005367      334
6538330   163404756   320957973203722240  10005367      334
6538331   163404756   320957973203722240  10005367      334
6538332   163404756   320957973203722240  10005367      334
6538335   163404756   320957973203722240  10005367      334
6538336   163404756   320957973203722240  10005367      334
6538337   163404756   320957973203722240  10005367      334
6538338   163404756   320957973203722240  10005367      334
6538339   163404756   320957973203722240  10005367      334
6538340   163404756   320957973203722240  10005367      334
6538428  2066231050    76074713402810384  10012320      334
6538429  2066231050    76074713402810384  10012320      334
6538430  2066231050    76074713402810384  10012320      334
6538431  2066231050    76074713402810384  10012320      334
6538433  2066231050    76074713402810384  10012320      334
6538436  2066231050    76074713402810384  10012320      334
6538437  2066231050    76074713402810384  10012320      334
6538438  2066231050    76074713402810384  10012320      334
6538440  2066231050    76074713402810384  10012320      334
6538441  2066231050    76074713402810384  10012320      334
6538442  2066231050    76074713402810384  10012320      334
6538443  2066231050    76074713402810384  10012320      334
6538444  2066231050    76074713402810384  10012320      334
6538445  2066231050    76074713402810384  10012320      334
6538446  2066231050    76074713402810384  10012320      334
6538447  2066231050    76074713402810384  10012320      334
6538448  2066231050    76074713402810384  10012320      334

                    view_spu   view_sn  view_ct3  time_interval  view_cnt  \
89        107318456632717316  10015294       334          17345         1
90        107318460592529411  10007066       334         193314         1
91       1376488951765147648  10015294       334         449577         2
92       1600824511410274307  10015294       334         450245         1
93       1683296679586492416  10015294       334          16038         1
94         20624141808296557  10007066       334         193442         1
95         21187105909485617  10000474       334         451048         1
97        221878761477648446  10004363       334         193785         1
98        237359895471243311  10011214       334          10876         1
99        237641379348307968  10000861       334         192250         1
101      2469456231166840832  10015294       334          14792         1
102      2482122605860892672  10015294       334          17040         1
103       250589216307327000  10000861       334         192151         1
104      2813418653354196992  10015294       334         449932         1
105      2823270277605580800  10015294       334         450050         1
107      2887446572298293248  10015294       334         450450         4
108      2893076071119843328  10015294       334          15373         3
109      2894764921674170372  10015294       334         450005         4
110      2898987046254485504  10015294       334         449725         1
113       293373421246935060  10013999       334          17677         4
115       304350915535745029  10015294       334          16711         4
119      3925244893201649664  10015294       334          17089         2
120       432984991952474196  10004363       334          18168         1
122       435518277404311631  10020913       334         186112         2
123       441429233102106649  10006075       334         194172         2
124      4418389063700283392  10015294       334         450083         4
125      4419233488633495552  10015294       334          17142        10
126       445932851521277999  10007786       334         236619         2
128       451843812596117510  10004555       334         276004         1
129       455221525774061791  10020913       334         186020         3
...                      ...       ...       ...            ...       ...
6538326   241582029719793689  10026544       334         137010         2
6538327   305195354259070992  10013882       334           1750         1
6538328   311106299135430858  10013882       334           1755         1
6538329    31320182845317581  10000351       334         135701         1
6538330    31883129608208739  10013882       334           1780         1
6538331   434392360116723716  10013882       334         135285         1
6538332   436081199359467539  10000351       334         135837         1
6538335   442273677811544078  10015669       334          84828         1
6538336   448747594611712059  10014522       334         168240         1
6538337   455503004321894401  10026544       334         137050         3
6538338   468450829859827752  10026544       334         137173         2
6538339     7394848481767427  10013882       334         134906         1
6538340    76074745489842235  10013882       334           1763         1
6538428   100563057488732198  10012320       334         510207         1
6538429    13868719000265223  10012320       334         510017         1
6538430   221034360618831966  10012320       334          78030         2
6538431   232574818784428035  10020688       334         508066         1
6538433   248618884709568519  10020688       334         508048         1
6538436   293936373916356624  10012320       334          78355         2
6538437   302099125937098767  10012320       334         510119         1
6538438   323491224167108612  10012320       334          77051         4
6538440  4065137967143866583  10014872       334         509815         1
6538441   433829421533270073  10012320       334          77930         2
6538442   436081206098173977  10012320       334          77274         1
6538443   465073154914177052  10020688       334         508052         1
6538444     7113346220879880  10012320       334         510165         1
6538445    77763563263074350  10012320       334          77317         1
6538446  8793073179314585921  10012320       334          77692         1
6538447    94933542514843691  10012320       334          77596         1
6538448    98029767258660885  10012320       334          77967         1

         view_seconds    index        spu_id  \
89                  5  69776.0  1.073185e+17
90                  5  17665.0  1.073185e+17
91                 43  51881.0  1.376489e+18
92                  7  53203.0  1.600825e+18
93                  9  66087.0  1.683297e+18
94                  6  60970.0  2.062414e+16
95                  8   5073.0  2.118711e+16
97                  2  34215.0  2.218788e+17
98                  6  54596.0  2.373599e+17
99                  6  41953.0  2.376414e+17
101                 7  19108.0  2.469456e+18
102                33  80103.0  2.482123e+18
103                 3  82630.0  2.505892e+17
104                 4  59866.0  2.813419e+18
105                10  17939.0  2.823270e+18
107                68  82669.0  2.887447e+18
108                13  47049.0  2.893076e+18
109                40  43292.0  2.894765e+18
110                 8  34385.0  2.898987e+18
113               142  43320.0  2.933734e+17
115                31  85351.0  3.043509e+17
119                18  13242.0  3.925245e+18
120                 4   5553.0  4.329850e+17
122                16  44817.0  4.355183e+17
123                10  14540.0  4.414292e+17
124               119  51264.0  4.418389e+18
125               159

In [32]:
#user_profile_w_features_nonnull_20_5[]

In [33]:
user_profile_w_features_nonnull_20_5.to_pickle('../data_user_view_buy/user_profile_items_nonnull_features_20_mins_5_views.pkl')